
/* Mobile */
@media only screen and (max-width: 767px)
{

  #portadaBienvenida .modal-content p{
    font-size:42px;
    line-height:40px;
  }

  #portadaBienvenida .modal-content p + span{
    font-size:15px
  }

  #portadaBienvenida .modal-content .boton{
    margin-bottom:15px;
  }

  .title{
    font-size: 35px;
    padding: 0 15px;
  }

  .subtitle{
    font-size: 19px;
    padding: 0 15px;
  }

  section.portada .content-portada h1{
    font-size: 65px;
    line-height: 60px;
  }

  section.portada .box-frase-portada p img {
    width: 15px;
  }

  section.portada .flecha-continuar {
    width: 40px;
    bottom: -12%;
  }

  section.cuenta-regresiva .reloj-col span.number {
    font-size: 35px;
  }

  section.cuenta-regresiva .box-aros{
    width: 90%;
  }

  section.portada .box-nombres-fecha-portada h1 span{
    font-size: 35px;
    width: 45px;
    height: 45px;
    line-height: 40px;
    margin-bottom: 7px;
  }

  section.portada .content-portada span.fecha:before{
    right: -40px;
  }

  section.portada .content-portada span.fecha:after{
    left: -40px;
  }

  section.portada .content-portada{
    width: 85%;
    margin-bottom: 5%;
  }

  section.portada .content-portada span.fecha{
    font-size: 22px;
    margin-bottom: 10px;
  }

  section.portada{
    padding-bottom: 45%;
  }

  section.portada .box-frase-portada p{
    font-size: 19px;
  }

  section.portada .box-frase-portada{
    margin-top: 15%;
  }

  section.cuenta-regresiva .box-aros .box-circulo span.falta{
    font-size: 35px;
  }

  section.footer h4 {
    font-size: 55px;
    line-height: 45px;
    margin-bottom: 30px;
  }

  section.footer h4 span{
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  section.footer .col-acciones-footer ul {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    line-height: 15px;
    font-size: 15px;
  }

  section.cuenta-regresiva .reloj-col span.time {
    font-size: 18px;
  }

  section.portada .portada-flor-izq-sup{
    width: 33%;
  }

  section.portada img.portada-flor-der-inf{
    width: 30%;
  }

  section.cuenta-regresiva .box-aros .box-circulo{
    padding: 28px;
  }

  section.ceremonia-fiesta .col-ceremonia h3, section.ceremonia-fiesta .col-fiesta h3 {
    padding: 8px 30px;
    font-size: 25px;
  }

  section.ceremonia-fiesta .col-oculta h3 {
    padding: 8px 10px;
    font-size: 22px;
  }

  section.ceremonia-fiesta .col-ceremonia .anim-anillos, section.ceremonia-fiesta .anim-fiesta{
    width: 55%;
  }

  section.portada img.portada-flor-izq-inf{
    width: 25%;
    bottom: -25%;
  }

  section.portada .box-nombres-fecha-portada h1 span {
    top: 0px;
  }

  section.instagram {
    padding-top: 35%;
    padding-bottom: 50%;
  }

  section.instagram .hashtag {
    font-size: 27px;
  }

  section.footer{
    padding-bottom: 20%;
    padding-top: 25%;
  }

  section.regalos{
    padding-top: 90px;
    padding-bottom: 40%;
  }

  section.regalos:after{
    background-image: url('../img/img_ondas03.svg');
    position: absolute;
    content: '';
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 15%;
    width: 100%;
    bottom: -1px;
  }

  section.fiesta{
    padding-top: 30%;
    padding-bottom: 35%;
  }

  section.ceremonia-fiesta{
    padding-bottom: 35%;
  }
  
  section.galeria{
    padding-top: 70px;
  }

  #modalMapa .modal-header .modal-title{
    font-size: 23px;
  }

  section.portada .portada-flor-der-inf{
    bottom: 35%;
    width: 20%;
  }

  section.portada .portada-flor-izq-inf {
    bottom: -30%;
    width: 30%;
  }

  section.regalos .regalos-flor-der {
    bottom: 16%;
    width: 26%;
  }

  section.ceremonia-fiesta{
    background-image: none;
  }

  #controlador-musica{
    top: initial;
    bottom:0;
    right: 0;
  }

  .music-anim-icon{
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  .flags-laguages {
    padding: 0;
  }

  #modal-lang .close {
    right: 25px;
  }

  /* ===============================
   CARTA INVITACION - MOBILE
   (Overrides sin romper lógica PC)
================================ */
   /* Ocupa el alto real del móvil */
  .page{
    min-height: 100dvh;
  }
  .wrap{
    min-height: 100dvh;
    padding: 0;                 /* quita aire */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stage{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /*
    CLAVE:
    En móvil NO dimensionamos por ancho (92vw).
    Dimensionamos por alto para que se vea "hero" como en PC.
  */
  .env{
    height: 70dvh;              /* sube/baja 66–78 según gusto */
    width: auto;                /* el ancho lo decide el aspect-ratio */
    max-width: 185vw;            /* no se sale lateralmente */
    aspect-ratio: 1707 / 1272;

    /* el resto igual, solo un poco menos agresivo */
    perspective: 1200px;
    perspective-origin: 50% 18%;
    filter: drop-shadow(0 18px 26px rgba(0,0,0,.16));
  }

  /* Mantén proporción del sello */
  .seal{
    width: clamp(90px, 26vw, 135px);
    top: 52%;
  }

  /* Calibración móvil (boca y bolsillo) */
  .page{ --paper-slot: 44%; }   /* en tu caso: para parecer PC, deja el mismo valor */
  .env-front{
    clip-path: polygon(0% 52%, 100% 52%, 100% 100%, 0% 100%);
  }

  /* Opcional: que el papel no quede demasiado grande en móvil */
  .paper-mask{ width: 65%; height: 55%; }
  .paper{ width: 88%; bottom: -40%; }

  /* Texto: si quieres exactamente igual que PC, comenta este bloque.
     Si en móviles pequeños se corta, deja estos ajustes.
  */
  .paper-inner{ padding: 22px 16px; }
  .paper-title{ font-size: clamp(20px, 6vw, 30px); }
  .paper-sub{ font-size: 14px; }
  .btn{ font-size: 15px; padding: 10px 14px; }
}



/* De tablet a Desktop */
@media only screen and (min-width: 992px)
{

  /* Modal asistencia */

  #modalAsistencia .modal-content{
    border: none;
    background: none;
    text-align: center;
    max-width: 800px;
    height: 580px;
    padding: 12% 24%;
    background: url('../img/iconos/img_modal01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: 54%;
  }

  #modalAsistencia .modal-body{
    padding: 1rem 1.5rem;
  }


  #modalAsistencia .close{
    top: 0;
    right: 25px;
  }
  
  #modalAsistencia .img-top-modal img{
    margin-top: -28%;
  }



  /* Modal sugerir cancion */

  #modalSugerirCancion .modal-content{
    border: none;
    background: none;
    text-align: center;
    max-width: 800px;
    height: 580px;
    padding: 12% 24%;
    background: url('../img/iconos/img_modal01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: 54%;
  }

  #modalSugerirCancion .modal-body{
    padding: 1rem 1.5rem;
  }


  #modalSugerirCancion .close{
    top: 0;
    right: 25px;
  }
  
  #modalSugerirCancion .img-top-modal img{
    margin-top: -28%;
  }



  /* Modal Responsive */

  .modal-responsive .modal-content{
    border: none;
    background: none;
    text-align: center;
    max-width: 800px;
    height: 580px;
    padding: 12% 24%;
    background: url('../img/iconos/img_modal01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: 54%;
  }

  .modal-responsive .modal-body{
    padding: 1rem 1.5rem;
  }


  .modal-responsive .close{
    top: 0;
    right: 25px;
  }
  
  .modal-responsive .img-top-modal img{
    margin-top: -28%;
  }

  /* ----- */


  
  .content-fotos .shadow-left{
    display: block;
    position: absolute;
    left: 0;
    z-index: 999;
    height: 150%;
    width: 10%;
    background: url('../img/img_sombraGaleria_izq.svg') left center no-repeat;
    top:-27%
  }

  .content-fotos .shadow-right{
    display: block;
    position: absolute;
    right: 0;
    z-index: 999;
    height: 150%;
    width: 10%;
    background: url('../img/img_sombraGaleria_der.svg') right center repeat-y;
    top:-27%
  }



  /* Responsive Modal */

  #idModal .modal-body {
    padding: 1rem 1.5rem;
    overflow-y: auto;
    max-width: 83%;
    margin-left: 31px;
    margin-bottom: 75px;
    padding-right: 10px;
  }

  /* ---- */

}


