.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
    url("../img/iconos/img_ondas02.svg") center/cover no-repeat var(--color-2);
}

.login-card {
  background: #fff;
  border-radius: 14px;
  padding: 40px 45px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 25px 50px rgba(0,0,0,.15);
  text-align: center;
  position: relative;           /* clave para el absolute del icono */
  overflow: visible;     
}

.login-icon{
     position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -75%); /* lo sube por encima de la tarjeta */
  height: 128px;
}


.login-card h2 {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  margin-bottom: 25px;
  color: #6b5b3e;
}

.login-card label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
}

.login-card input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 15px;
}

.login-card button {
 width: 100%;
  background-color: #b79a6a; /* dorado arena */
  border: none;
  color: #ffffff;
  padding: 13px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .2s ease, box-shadow .2s ease;
}

.login-card button:hover {
  background-color: #a8895d;
  box-shadow: 0 8px 20px rgba(183,154,106,.35);
}

.login-error {
  margin-top: 12px;
  color: #c0392b;
  font-size: 14px;
}


.input-decorado{
  position: relative;
  width: 100%;
  margin-bottom: 22px;
}

/* Input sin bordes */
.input-decorado input{
  width: 100%;
  border: none !important;
  outline: none !important;
  background: transparent;
  padding: 12px 6px 16px; /* espacio inferior para que no pise la línea */
  font-size: 15px;
  color: #6a6258;
}

/* Evita el borde azul de algunos navegadores */
.input-decorado input:focus{
  box-shadow: none !important;
}

/* La "línea" en forma de imagen */
.input-decorado .linea-decorativa{
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 14px;          /* ajusta según tu imagen */
  object-fit: contain;   /* mantiene proporción */
  pointer-events: none;  /* para que no interfiera con el click */
  opacity: .9;
}