/*ICONO DE CARGA*/
/* Loader */
:root {
  --color-1: #BFA880;
  --color-2: #FCF6F1;
  --color-3: #575756;
  --color-4: #C6D7CF;
  --color-5: #DFEAE5;
  --color-6: #957a4c;
}

.fancybox-bg{
  background-color: var(--color-1) !important;
}
/*ESTILOS MODIFICADOS DE BOOTSTRAP MODALES*/
.modal-backdrop {
  /* background-color:var(--color-1); */
  background-color:var(--color-1);
  opacity:0.95 !important;
}

.modal-body{
  flex: inherit;
}
.modal-transparent .modal-content{
  background: transparent;
  border: none;
}


.modal-transparent .close{
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  outline: none;
  padding: 0;
}

.modal-transparent .modal-header, .modal-transparent  .modal-footer{
  border: none;
  padding: 0;
}

.modal-transparent .modal-header h3{
  color: #F2F2F2;
  text-align: center;
  width: 100%;
 /* font-family: 'Quicksand', sans-serif;*/
}

.modal-transparent .boton{
  padding: 15px 50px;
}

.modal .modal-content{
  text-align: center;
  border: none;
  background: var(--color-2);
  padding-bottom: 20px;
  margin-top: 60px;
}


.modal .modal-body a.link {
  text-decoration: none;
  color: var(--color-1);
	font-weight: 600;
}

.modal .modal-body a.link:hover {
  text-decoration: underline;
  color: var(--color-3);
	font-weight: 600;
}
/*ESTILOS CARGAR ICONO*/
.cargarIcono {
  position: fixed;
  background: var(--color-2);
  z-index: 11000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cargarIcono .loader{
  width: 90%;
  width: 300px;
}
/*CONTENEDOR PORTADA*/
#portadaBienvenida .modal-content{
  background: transparent;
  border: none;
}

#portadaBienvenida .modal-content p{
  font-size:55px;
  line-height: 50px;
  font-family: 'DM Serif Display', serif;
  color:#fff;
  display:inline-block;
  width: 100%;
}

#portadaBienvenida .modal-content p + span{
  font-size:22px;
  font-family: 'Quicksand', sans-serif;
  color:#fff;
  font-weight: 300;
  margin-bottom: 25px;
  display:inline-block;
  width: 100%;
}

#portadaBienvenida .boton{
  font-size:14px;
  display: inline-block;
  background-color: var(--color-4);
  color: var(--color-3);
}

#portadaBienvenida .boton:hover{
  background-color: var(--color-3);
  color: #fff;
}


/*Icono animado musica*/
.music-anim-icon{
  width: 100px;
  height: 100px;
  cursor: pointer;
}
/* caja que contiene la imagen de la musica*/
#controlador-musica{
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 0;
}

#reproductor-musica-fondo{
  position: absolute;
  left:-99999px;
}
/*Fondo con imagen */
/*.portada-bienvenida {
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("")
    center/cover no-repeat;
}*/