/*ICONO DE CARGA*/
/* Loader */
:root {
  --color-1: #BFA880;
  --color-2: #FCF6F1;
  --color-3: #575756;
  --color-4: #C6D7CF;
  --color-5: #DFEAE5;
  --color-6: #957a4c;
}

/*scroll*/
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track {
background: #fff;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background:var(--color-4);  
}

::-webkit-scrollbar-thumb:hover {
background:var(--color-1);  
}

.custom-control-label::before {
  height: 20px;
  width: 20px;
}

.custom-control-label::after{
  height: 20px;
  width: 20px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: var(--color-1);
  border-color: var(--color-1);
  background-color: var(--color-1);
  outline: none;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow:none !important;
}

.fancybox-bg{
  background-color: var(--color-1) !important;
}

.boton{
  background: #fff;
  color: var(--color-1);
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  padding: 8px 25px;
  border-radius: 20px;
  font-size: 15px;

  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.boton:hover{
  background:var(--color-1);
  color: #fff;
  text-decoration: none;
}

.title{
  width: 100%;
  display: inline-block;
  font-family: 'DM Serif Display', serif;
  color: #333;
  font-size: 45px;
}

.subtitle{
  width: 100%;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  color: var(--color-1);
  font-size: 20px;
  font-weight: 400;
}

a{
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}
/*ESTILOS MODIFICADOS DE BOOTSTRAP MODALES*/
.modal-backdrop {
  /* background-color:var(--color-1); */
  background-color:var(--color-1);
  opacity:0.95 !important;
}

.modal-body{
  flex: inherit;
}
.modal-transparent .modal-content{
  background: transparent;
  border: none;
}


.modal-transparent .close{
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  outline: none;
  padding: 0;
}

.modal-transparent .modal-header, .modal-transparent  .modal-footer{
  border: none;
  padding: 0;
}

.modal-transparent .modal-header h3{
  color: #F2F2F2;
  text-align: center;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.modal-transparent .boton{
  padding: 15px 50px;
}

.modal .modal-content{
  text-align: center;
  border: none;
  background: var(--color-2);
  padding-bottom: 20px;
  margin-top: 60px;
}


.modal .modal-body a.link {
  text-decoration: none;
  color: var(--color-1);
	font-weight: 600;
}

.modal .modal-body a.link:hover {
  text-decoration: underline;
  color: var(--color-3);
	font-weight: 600;
}
/*ESTILOS CARGAR ICONO*/
.cargarIcono {
  position: fixed;
  background: var(--color-2);
  z-index: 11000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cargarIcono .loader{
  width: 90%;
  width: 300px;
}
/*
span#error-form{
  color: red;
  font-size: 13px;
}*/

/*caratula*/
section.portada{
  width: 100%;
  padding-bottom: 20%;
  background-size: cover;
  color: #fff;
  position: relative;
}

section.portada::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.30);
  z-index: 0;
  top: 0;
  left: 0;
}

section.portada:after{
  background-image: url('../img/iconos/img_ondas01.svg');
  background-color: rgb(0,0,0,0.4);
  position: absolute;
  content: '';
  /* background-size: contain !important; */
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  bottom: 0;
}

section.portada .container .row:first-child{
  height: 100vh;
}

section.portada .content-portada{
  width: 70%;
  z-index: 999;
  position: relative;
  top: 30px;
}

section.portada .content-portada span.fecha{
  display: table;
  white-space: nowrap;
  width: 100%;
  font-size: 18px;
  font-family: 'DM Serif Display', serif;
  font-size: 28px;
  color: #ddd;
}

section.portada .content-portada span.fecha:before{
 right: -25%;
}

section.portada .content-portada span.fecha:after{
 left: -25%;
}

section.portada .content-portada span:before, section.portada .content-portada span:after {
    border-top: 1px solid #fff;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.7em;
    width: 15%;
}

section.portada .content-portada h1{
  width: 100%;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 85px;
}

section.portada .box-nombres-fecha-portada .line{
  height: 1px;
  width: 50%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20px;
}

section.portada .box-nombres-fecha-portada h1 span {
  background-color: var(--color-1);
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 55px;
  font-size: 50px;
  position: relative;
  top: -10px;
}

section.portada .box-frase-portada{
  margin-top: 50px;
}

section.portada .box-frase-portada p{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

section.portada .box-frase-portada p img {
  width: 20px;
  margin: 0 0 20px 0;
}
section.portada .portada-flor-izq-sup{
  position: absolute;
  top:0;
  left: 0;
  width: 18%;
  z-index: 1;
}
section.portada .portada-flor-der-inf{
  position: absolute;
  bottom:30%;
  right: 0;
  width: 12%;
  z-index: 1;
}

section.portada .portada-flor-izq-inf{
  position: absolute;
  bottom:-20%;
  left: 0;
  width: 17%;
  z-index: 999;
}

section.portada .flecha-continuar{
  width: 50px;
  position: absolute;
  bottom: -18%;
}

/*CONTENEDOR PORTADA*/
#portadaBienvenida .modal-content{
  background: transparent;
  border: none;
}

#portadaBienvenida .modal-content p{
  font-size:55px;
  line-height: 50px;
  font-family: 'DM Serif Display', serif;
  color:#fff;
  display:inline-block;
  width: 100%;
}

#portadaBienvenida .modal-content p + span{
  font-size:22px;
  font-family: 'Quicksand', sans-serif;
  color:#fff;
  font-weight: 300;
  margin-bottom: 25px;
  display:inline-block;
  width: 100%;
}

#portadaBienvenida .boton{
  font-size:14px;
  display: inline-block;
  background-color: var(--color-4);
  color: var(--color-3);
}

#portadaBienvenida .boton:hover{
  background-color: var(--color-3);
  color: #fff;
}


/*Icono animado musica*/
.music-anim-icon{
  width: 100px;
  height: 100px;
  cursor: pointer;
}
/* caja que contiene la imagen de la musica*/
#controlador-musica{
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 0;
}

#reproductor-musica-fondo{
  position: absolute;
  left:-99999px;
}


/* Cuenta regresiva */
section.cuenta-regresiva{
  position: relative;
  height: 250px;
  background: var(--color-2);
}

section.cuenta-regresiva .box-aros{
  width: 420px;
  height: 420px;
  background: url('../img/img_circuloContador01.svg') center center no-repeat;
  position: absolute;
}

section.cuenta-regresiva .box-aros .box-circulo{
  width: 290px;
  height: 290px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.40);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.40);
  padding: 20px;
  padding-top: 25px;
}

section.cuenta-regresiva .box-aros .box-circulo span.falta{
  width: 100%;
  text-align: center;
  display: inline-block;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  color: var(--color-1);
}

section.cuenta-regresiva .box-aros .box-circulo img.divisor{
  width: 40%;
  margin-top: -20px;
}

section.cuenta-regresiva .box-aros .box-circulo .corazon-falta{
  width: 18%;
  margin-top: 5px;
}

section.cuenta-regresiva .reloj{
  margin-bottom: 25px;
}

section.cuenta-regresiva .reloj-col{
  width: 25%;
  border-right: 1px solid #ccc;
  padding: 0;
  float: left;
}

section.cuenta-regresiva .reloj-col.no-border{
  border: none;
}

section.cuenta-regresiva .reloj-col span.number {
  display: inline-block;
  width: 100%;
  color: var(--color-3);
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  margin-bottom: -5px;
}

section.cuenta-regresiva .reloj-col span.time{
  display: inline-block;
  width: 100%;
  color: var(--color-1);
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

section.cuenta-regresiva p.fin-cuenta{
  font-size: 30px;
  color: var(--color-3);
  font-family: 'DM Serif Display', serif;
}



/* ---------- */